* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  position: relative;
}

.orange {
  position: absolute;
  top: -10vh;
  right: 0;
  z-index: -1;
  width: 55vw;
  height: 150vh;
}

header nav {
  width: 100%;
}

header nav ul {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li {
  font-size: 1.25rem;
  padding: 0.75rem 0;
}

header nav ul li a {
  color: black;
  text-decoration: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section.left {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 500px;
          flex: 3 1 500px;
  padding: 1rem 5rem;
}

main section.left h1.intro {
  font-size: 4rem;
  font-family: "Indie Flower", cursive;
  color: #e08958;
}

main section.left h1.intro span {
  font-size: 4rem;
  font-family: "Indie Flower", cursive;
}

main section.left p {
  font-size: 1.5rem;
  padding: 1rem 0;
}

main section.right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  position: relative;
}

main section.right img {
  border-radius: 50%;
  height: 20vw;
  width: 20vw;
  position: absolute;
  top: 55vh;
  right: 25vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main section.table {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 500px;
          flex: 3 1 500px;
  padding: 2.5rem 1.25rem;
}

main section.table table {
  border-collapse: collapse;
}

main section.table table tr {
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

main section.table table tr td.title {
  width: 20%;
  padding: 2rem;
}

main section.table table tr td.content {
  width: 80%;
}

main section.table table tr td.content ul li,
main section.table table tr td.content ol li {
  list-style: none;
}

main section.table table tr:hover {
  background-color: #fad2bb;
}

main section.pic {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  padding: 1rem 0rem;
  position: relative;
}

main section.pic img {
  width: 30vw;
}

main section.pic div.orangeRect {
  width: 30vw;
  height: 90vh;
  background-color: #ebb697;
  position: absolute;
  top: 40px;
  left: 70px;
  z-index: -1;
}

main section.form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  padding: 2rem;
}

main section.form form {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.form form div {
  margin: 0.25rem;
  width: 100%;
}

main section.form form div label.twoword {
  padding: 0.25rem 1.25rem;
}

main section.form form div label {
  font-size: 1.25rem;
  width: 15%;
}

main section.form form div input,
main section.form form div textarea {
  background-color: #f5b18a;
  color: white;
  font-size: 1.25rem;
  padding: 0.5rem 0.25rem;
  border: none;
  width: 85%;
}

main section.form form div textarea {
  vertical-align: top;
}

main section.form form button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #e08958;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  margin-top: 0.25rem;
}

main div.line {
  background-color: gray;
  width: 2px;
  margin-top: 2.1rem;
  height: 80vh;
}

main section.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  padding: 2rem 1rem;
  margin-left: 1.75rem;
}

main section.contact div h2,
main section.contact div h3 {
  margin: 1rem 0rem;
}

footer {
  margin: 5rem 0 0 8rem;
}

footer a {
  padding: 1rem;
}

.active {
  color: #e08958;
}

@media screen and (max-width: 1100px) {
  .orange {
    opacity: 0.5;
  }
  header nav ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav ul li {
    border-bottom: 2px solid gray;
    margin: 0rem 1rem;
  }
  main section.left {
    padding: 1rem 2rem;
  }
  main section.right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.right img {
    position: static;
    -webkit-transform: none;
            transform: none;
    width: 50vw;
    height: 50vw;
  }
  main section.pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.pic img {
    width: 50vw;
  }
  main section.pic div.orangeRect {
    display: none;
  }
  main section.form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 2rem;
  }
  main section.form form {
    margin-bottom: 0rem;
  }
  main section.form form div label.twoword {
    padding: 0.25rem 2.25rem 0.25rem 0rem;
  }
  main section.form form button {
    margin-right: 5rem;
  }
  main div.line {
    display: none;
  }
  main section.contact {
    padding: 0rem 0rem;
    margin-left: 4.5rem;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0rem;
  }
  footer a {
    margin-top: 0.25rem;
  }
  footer a img {
    width: 10vw;
    height: 10vw;
  }
}
/*# sourceMappingURL=style.css.map */